<div>
  <div
    class="lo flex flex-column shadow-3 align-items-center border-radius mb-3"
  >
    <p-image
      styleClass="flex justify-content-center  "
      height="400"
      class="aboutus1  mt-3"
      src="quienes_somos.jpg"
      alt="Image"
      [preview]="true"
    />
    <div class="ln p-3">
      <div class="text-center text-lg font-semibold mt-2">Quienes Somos?</div>
      <div class=" text-center">
        En EnergyComputer, somos una empresa apasionada por la tecnología y
        comprometida con llevar la innovación a cada hogar y negocio. Nos
        especializamos en la venta de computadoras y equipos tecnológicos
        diseñados para satisfacer las necesidades de un mundo digital en
        constante evolución.
      </div>
    </div>
  </div>
</div>

<div class="lo flex flex-column shadow-3 align-items-center border-radius mb-3">
  <p-image
    styleClass="flex justify-content-center  "
    class="aboutus2 mt-3"
    src="vision.jpg"
    alt="Image"
    [preview]="true"
  />
  <div class="ln p-3">
    <div class="text-center text-lg font-semibold mt-2">Vision</div>
    <div class="text-center">
      Ser el líder en tecnología informática, ofreciendo soluciones innovadoras
      y de alta calidad que transformen la experiencia digital de nuestros
      clientes, posicionándonos como la primera opción en el mercado global.
    </div>
  </div>
</div>

<div class="flex flex-column shadow-3 align-items-center border-radius mb-3">
  <p-image
    styleClass="flex justify-content-center  "
    class="aboutus3 mt-3"
    src="mision.png"
    alt="Image"
    [preview]="true"
  />
  <div class="ln p-3">
    <div class="text-center text-lg font-semibold mt-2">Mision</div>
    <div class="text-center">
      Proporcionar computadoras y equipos tecnológicos de última generación con
      un enfoque en la calidad, la sostenibilidad y el servicio al cliente,
      ayudando a empresas y particulares a alcanzar sus metas tecnológicas con
      facilidad y confianza.
    </div>
  </div>
</div>

<footer class="bg-gray-600 p-4 text-white">
  <div class="align-items-center">
    <div class="p-col text-center">
      <p class="m-0 font-semibold">Fraulin Nuñez</p>
    </div>
    <div class="p-col text-center">
      <p class="m-0">
        Teléfono: <a href="tel:+18098612456" class="text-white">809-861-2456</a>
      </p>
    </div>

    <div class="flex justify-content-center mt-2">
      <div class="mr-2">
        <a
          href="https://www.facebook.com/tuperfil"
          target="_blank"
          class="p-link"
        >
          <i class="pi pi-facebook text-white"></i>
        </a>
      </div>

      <div class="mr-2">
        <a
          href="https://www.instagram.com/tuperfil"
          target="_blank"
          class="p-link"
        >
          <i class="pi pi-instagram text-white"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
